.navbar {
    background-color: #eee;
    color: grey;
    justify-content: right;
    display:flex;
    width:90%;
    align-items: center;
  }

#navItem{
    margin:10px
}

img{
    height: 100px;
    width: 100px;
    align-content: center;
}

.container{
    display:flex;
    border: 2px;
    border-color:black;
   
}

.innerContainer{
    margin:10px;
    border: 2px;
    height: 200px;
    border-color: black;
    border-radius: 5;
    border-style:solid;
    text-align: center;
}